.navBarPlacesApp{
    display: flex;
    justify-content: center;
    align-items: center ;
    
}
.menuStyles{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: url() !important;
    
    box-shadow:  20px 20px 60px #a29f9f,
             -20px -20px 60px #dbd7d7 !important;
    
    
}