.columnsImg{
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 8px;
  background: #ebe6e6;
  margin-bottom: 10px;

}
.cont{
  margin-right: 10px;
  margin-left: 10px;
}