.mapsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
  width: inherit;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 5px;

}