@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Prompt', sans-serif;
  color: white;
  background-color: #000000;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 20px ), repeating-linear-gradient( #22202055, #222020 );
  text-shadow: 2px 4px 2px rgba(69,69,67,0.76);
  background-size: cover;

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    
}

